In [27]:
%load_ext autoreload
%autoreload 2

from hossam.util import *
from hossam.plot import *
from hossam.tensor import *
from pandas import merge, read_excel, pivot_table, melt, to_datetime, to_timedelta, DateOffset, Timestamp, Period, Series
import numpy as np
import re

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [28]:
origin = my_read_excel("통합5-3.xlsx")
origin['연월'] = to_datetime(origin['연월'])
df = origin.copy()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10028 entries, 0 to 10027
Data columns (total 35 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   회원카드번호   10028 non-null  int64
 1   연월       10028 non-null  object
 2   요일       10028 non-null  object
 3   미수액      10028 non-null  int64
 4   FC 강사    9293 non-null   object
 5   등록명      6497 non-null   object
 6   일일입장     10028 non-null  int64
 7   분실       10028 non-null  int64
 8   부가서비스사용  10028 non-null  int64
 9   레슨여부     10028 non-null  int64
 10  매출액      10028 non-null  int64
 11  개월수      10028 non-null  int64
 12  골프전환     10028 non-null  int64
 13  단체회원     10028 non-null  int64
 14  프로모션     10028 non-null  object
 15  단체명      2497 non-null   object
 16  패스       10028 non-null  object
 17  환불내역     10028 non-null  object
 18  거래일_일    10028 non-null  int64
 19  환불일_일    10028 non-null  int64
 20  골프매출     10028 non-null  int64
 21  라카매출     10028 non-null  int64
 22  헬스매출     10028 non-null  int64
 23  PT매출     10028 non-null  int64
 24  골프레슨매출   10028 non-null  int64
 25  일일입장매출   10028 non-null  int64
 26  양도비매출    10028 non-null  int64
 27  필라테스매출   10028 non-null  int64
 28  환불사용금매출  10028 non-null  int64
 29  의류매출     10028 non-null  int64
 30  분실매출     10028 non-null  int64
 31  GX매출     10028 non-null  int64
 32  상환액매출    10028 non-null  int64
 33  입회비매출    10028 non-null  int64
 34  예치금매출    10028 non-null  int64
dtypes: int64(27), object(8)
memory usage: 2.7+ MB
None

상위 5개 행
+----+----------------+---------+--------+----------+-----------+----------+------------+--------+------------------+------------+----------+----------+------------+------------+----------------+----------+--------+------------+-------------+-------------+------------+------------+------------+----------+----------------+----------------+--------------+----------------+------------------+------------+------------+----------+--------------+--------------+--------------+
|    |   회원카드번호 | 연월    | 요일   |   미수액 | FC 강사   | 등록명   |   일일입장 |   분실 |   부가서비스사용 |   레슨여부 |   매출액 |   개월수 |   골프전환 |   단체회원 | 프로모션       |   단체명 |   패스 |   환불내역 |   거래일_일 |   환불일_일 |   골프매출 |   라카매출 |   헬스매출 |   PT매출 |   골프레슨매출 |   일일입장매출 |   양도비매출 |   필라테스매출 |   환불사용금매출 |   의류매출 |   분실매출 |   GX매출 |   상환액매출 |   입회비매출 |   예치금매출 |
|----+----------------+---------+--------+----------+-----------+----------+------------+--------+------------------+------------+----------+----------+------------+------------+----------------+----------+--------+------------+-------------+-------------+------------+------------+------------+----------+----------------+----------------+--------------+----------------+------------------+------------+------------+----------+--------------+--------------+--------------|
|  0 |       12131325 | 2020-09 | 화     |        0 | 홍진석    | 헬스     |          0 |      0 |                0 |          0 |   899000 |       12 |          0 |          0 | 언택트프로모션 |      nan |      0 |          0 |           8 |           0 |          0 |          0 |     899000 |        0 |              0 |              0 |            0 |              0 |                0 |          0 |          0 |        0 |            0 |            0 |            0 |
|  1 |       13110008 | 2021-05 | 수수수 |        0 | 신지연    | 골프     |          0 |      0 |                2 |          0 |  1700000 |       12 |          0 |          0 | 정상가격       |      nan |      0 |          0 |          26 |           0 |    1580000 |     120000 |          0 |        0 |              0 |              0 |            0 |              0 |                0 |          0 |          0 |        0 |            0 |            0 |            0 |
|  2 |       13110008 | 2021-06 | 월     |        0 | 신지연    | nan      |          0 |      0 |                0 |          1 |   200000 |        0 |          0 |          0 | 0              |      nan |      0 |          0 |           0 |           0 |          0 |          0 |          0 |        0 |         200000 |              0 |            0 |              0 |                0 |          0 |          0 |        0 |            0 |            0 |            0 |
|  3 |       13110008 | 2022-06 | 수수수 |        0 | 신지연    | 골프     |          0 |      0 |                2 |          0 |  1700000 |       12 |          0 |          0 | 정상가격       |      nan |      0 |          0 |          29 |           0 |    1580000 |     120000 |          0 |        0 |              0 |              0 |            0 |              0 |                0 |          0 |          0 |        0 |            0 |            0 |            0 |
|  4 |       13110008 | 2023-08 | 화     |        0 | 신지연    | nan      |          0 |      0 |                1 |          0 |   220000 |        0 |          0 |          0 | 0              |      nan |      0 |          0 |           0 |           0 |          0 |          0 |          0 |        0 |              0 |              0 |            0 |              0 |                0 |     220000 |          0 |        0 |            0 |            0 |            0 |
+----+----------------+---------+--------+----------+-----------+----------+------------+--------+------------------+------------+----------+----------+------------+------------+----------------+----------+--------+------------+-------------+-------------+------------+------------+------------+----------+----------------+----------------+--------------+----------------+------------------+------------+------------+----------+--------------+--------------+--------------+

하위 5개 행
+-------+----------------+---------+--------+----------+-----------+----------+------------+--------+------------------+------------+----------+----------+------------+------------+----------------+----------+--------------+------------+-------------+-------------+------------+------------+------------+----------+----------------+----------------+--------------+----------------+------------------+------------+------------+----------+--------------+--------------+--------------+
|       |   회원카드번호 | 연월    | 요일   |   미수액 |   FC 강사 | 등록명   |   일일입장 |   분실 |   부가서비스사용 |   레슨여부 |   매출액 |   개월수 |   골프전환 |   단체회원 | 프로모션       |   단체명 | 패스         |   환불내역 |   거래일_일 |   환불일_일 |   골프매출 |   라카매출 |   헬스매출 |   PT매출 |   골프레슨매출 |   일일입장매출 |   양도비매출 |   필라테스매출 |   환불사용금매출 |   의류매출 |   분실매출 |   GX매출 |   상환액매출 |   입회비매출 |   예치금매출 |
|-------+----------------+---------+--------+----------+-----------+----------+------------+--------+------------------+------------+----------+----------+------------+------------+----------------+----------+--------------+------------+-------------+-------------+------------+------------+------------+----------+----------------+----------------+--------------+----------------+------------------+------------+------------+----------+--------------+--------------+--------------|
| 10023 |       23120077 | 2023-12 | 금     |        0 |       nan | 헬스     |          0 |      0 |                0 |          0 |   990000 |       10 |          0 |          0 | 10주년프리세일 |      nan | 이코노미패스 |          0 |          29 |           0 |          0 |          0 |     990000 |        0 |              0 |              0 |            0 |              0 |                0 |          0 |          0 |        0 |            0 |            0 |            0 |
| 10024 |       24010001 | 2023-12 | 일     |        0 |       nan | 헬스     |          0 |      0 |                0 |          0 |   990000 |       10 |          0 |          0 | 10주년프리세일 |      nan | 이코노미패스 |          0 |          31 |           0 |          0 |          0 |     990000 |        0 |              0 |              0 |            0 |              0 |                0 |          0 |          0 |        0 |            0 |            0 |            0 |
| 10025 |       24010002 | 2023-12 | 일     |        0 |       nan | nan      |          0 |      0 |                0 |          0 |   990000 |        0 |          0 |          0 | 0              |      nan | 0            |          0 |           0 |           0 |          0 |          0 |          0 |        0 |              0 |              0 |            0 |              0 |                0 |          0 |          0 |        0 |       990000 |            0 |            0 |
| 10026 |       24010003 | 2022-01 | 일일   |        0 |       nan | 헬스     |          0 |      0 |                1 |          0 |  1035000 |       10 |          0 |          0 | 10주년프리세일 |      nan | 이코노미패스 |          0 |          31 |           0 |          0 |      45000 |     990000 |        0 |              0 |              0 |            0 |              0 |                0 |          0 |          0 |        0 |            0 |            0 |            0 |
| 10027 |       88017624 | 2023-02 | 목     |        0 |       nan | 골프     |          0 |      0 |                0 |          0 |        0 |        0 |          0 |          0 | 정상가격       |      nan | 0            |          0 |          16 |           0 |          0 |          0 |          0 |        0 |              0 |              0 |            0 |              0 |                0 |          0 |          0 |        0 |            0 |            0 |            0 |
+-------+----------------+---------+--------+----------+-----------+----------+------------+--------+------------------+------------+----------+----------+------------+------------+----------------+----------+--------------+------------+-------------+-------------+------------+------------+------------+----------+----------------+----------------+--------------+----------------+------------------+------------+------------+----------+--------------+--------------+--------------+

기술통계
+----------------+---------+-------------+-------------+-------------+-------------+-----------+-----------+-------------+-------+
|                |   count |        mean |         std |         min |         25% |       50% |       75% |         max |   nan |
|----------------+---------+-------------+-------------+-------------+-------------+-----------+-----------+-------------+-------|
| 회원카드번호   |   10028 | 1.93554e+07 | 2.95105e+06 | 1.21313e+07 | 1.80101e+07 | 2.006e+07 | 2.112e+07 | 8.80176e+07 |     0 |
| 미수액         |   10028 |     34130.7 |      355701 |    -3.3e+06 |           0 |         0 |         0 |    2.96e+07 |     0 |
| 일일입장       |   10028 |    0.039988 |    0.301084 |           0 |           0 |         0 |         0 |          13 |     0 |
| 분실           |   10028 |   0.0137615 |    0.116505 |           0 |           0 |         0 |         0 |           1 |     0 |
| 부가서비스사용 |   10028 |    0.687276 |    0.756561 |          -2 |           0 |         1 |         1 |           5 |     0 |
| 레슨여부       |   10028 |    0.237236 |    0.465271 |          -2 |           0 |         0 |         0 |           3 |     0 |
| 매출액         |   10028 |      900905 | 1.32273e+06 |      -6e+06 |      120000 |    940000 |  1.38e+06 |   4.512e+07 |     0 |
| 개월수         |   10028 |       5.036 |     6.50884 |         -24 |           0 |         3 |        12 |          24 |     0 |
| 골프전환       |   10028 |   0.0140606 |    0.123534 |           0 |           0 |         0 |         0 |           3 |     0 |
| 단체회원       |   10028 |    0.245014 |    0.430117 |           0 |           0 |         0 |         0 |           1 |     0 |
| 거래일_일      |   10028 |     10.1755 |     10.9256 |           0 |           0 |         6 |        20 |          31 |     0 |
| 환불일_일      |   10028 |    0.779717 |     3.87197 |           0 |           0 |         0 |         0 |          31 |     0 |
| 골프매출       |   10028 |      214831 |      590160 |  -2.028e+06 |           0 |         0 |         0 |   3.788e+06 |     0 |
| 라카매출       |   10028 |     46138.1 |     80513.1 |     -360000 |           0 |         0 |     90000 |      360000 |     0 |
| 헬스매출       |   10028 |      314284 | 1.03682e+06 |  -2.178e+06 |           0 |         0 |    890000 |     4.5e+07 |     0 |
| PT매출         |   10028 |      212480 |      715046 |      -6e+06 |           0 |         0 |         0 |     6.6e+06 |     0 |
| 골프레슨매출   |   10028 |     45136.4 |      145896 |     -720000 |           0 |         0 |         0 |    1.62e+06 |     0 |
| 일일입장매출   |   10028 |     694.555 |     6852.88 |           0 |           0 |         0 |         0 |      400000 |     0 |
| 양도비매출     |   10028 |      1286.4 |     7916.52 |           0 |           0 |         0 |         0 |       50000 |     0 |
| 필라테스매출   |   10028 |     8150.73 |      134983 |   -1.98e+06 |           0 |         0 |         0 |     5.5e+06 |     0 |
| 환불사용금매출 |   10028 |     10373.7 |      102006 |           0 |           0 |         0 |         0 |    2.58e+06 |     0 |
| 의류매출       |   10028 |     19494.9 |      183746 |  -1.155e+06 |           0 |         0 |         0 |    4.07e+06 |     0 |
| 분실매출       |   10028 |     138.612 |     1175.59 |           0 |           0 |         0 |         0 |       15000 |     0 |
| GX매출         |   10028 |     448.544 |     14574.9 |      -30000 |           0 |         0 |         0 |      888000 |     0 |
| 상환액매출     |   10028 |     27101.4 |      270626 |           0 |           0 |         0 |         0 |   2.032e+07 |     0 |
| 입회비매출     |   10028 |     209.414 |     4571.61 |           0 |           0 |         0 |         0 |      100000 |     0 |
| 예치금매출     |   10028 |     137.615 |     9826.51 |           0 |           0 |         0 |         0 |      780000 |     0 |
+----------------+---------+-------------+-------------+-------------+-------------+-----------+-----------+-------------+-------+

In [29]:
df1 = df.filter(['회원카드번호', '연월','등록명', '매출액','골프전환','골프매출','헬스매출','환불사용금매출','미수액', '개월수'])
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10028 entries, 0 to 10027
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   회원카드번호   10028 non-null  int64
 1   연월       10028 non-null  datetime64[ns]
 2   등록명      6497 non-null   object
 3   매출액      10028 non-null  int64
 4   골프전환     10028 non-null  int64
 5   골프매출     10028 non-null  int64
 6   헬스매출     10028 non-null  int64
 7   환불사용금매출  10028 non-null  int64
 8   미수액      10028 non-null  int64
 9   개월수      10028 non-null  int64
dtypes: datetime64[ns](1), int64(8), object(1)
memory usage: 783.6+ KB

In [30]:
for i in range(len(df1)):
    # Convert Period to Timestamp, add DateOffset, and then convert back to Period
    df1.loc[i, '종료시점'] = (df1.loc[i, '연월']+ 
                             DateOffset(months=df1.loc[i, '개월수']))
df1

,회원카드번호,연월,등록명,매출액,골프전환,골프매출,헬스매출,환불사용금매출,미수액,개월수,종료시점
0,12131325,2020-09-01,헬스,899000,0,0,899000,0,0,12,2021-09-01
1,13110008,2021-05-01,골프,1700000,0,1580000,0,0,0,12,2022-05-01
2,13110008,2021-06-01,NaN,200000,0,0,0,0,0,0,2021-06-01
3,13110008,2022-06-01,골프,1700000,0,1580000,0,0,0,12,2023-06-01
4,13110008,2023-08-01,NaN,220000,0,0,0,0,0,0,2023-08-01
...,...,...,...,...,...,...,...,...,...,...,...
10023,23120077,2023-12-01,헬스,990000,0,0,990000,0,0,10,2024-10-01
10024,24010001,2023-12-01,헬스,990000,0,0,990000,0,0,10,2024-10-01
10025,24010002,2023-12-01,NaN,990000,0,0,0,0,0,0,2023-12-01
10026,24010003,2022-01-01,헬스,1035000,0,0,990000,0,0,10,2022-11-01
10027,88017624,2023-02-01,골프,0,0,0,0,0,0,0,2023-02-01

In [31]:
df1.info()
# Convert '종료시점' column to Period with frequency 'M'
# df1['종료시점'] = df1['종료시점'].dt.to_period("M")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10028 entries, 0 to 10027
Data columns (total 11 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   회원카드번호   10028 non-null  int64
 1   연월       10028 non-null  datetime64[ns]
 2   등록명      6497 non-null   object
 3   매출액      10028 non-null  int64
 4   골프전환     10028 non-null  int64
 5   골프매출     10028 non-null  int64
 6   헬스매출     10028 non-null  int64
 7   환불사용금매출  10028 non-null  int64
 8   미수액      10028 non-null  int64
 9   개월수      10028 non-null  int64
 10  종료시점     10028 non-null  datetime64[ns]
dtypes: datetime64[ns](2), int64(8), object(1)
memory usage: 861.9+ KB

#### 회원별 최초등록일

In [32]:
df2 = df1[['회원카드번호', '연월']].groupby(by= '회원카드번호', as_index =False).min()
df2.rename(columns={'연월':'최초등록월'}, inplace=True)
df3 = merge(df1, df2, on =['회원카드번호'])
df3

,회원카드번호,연월,등록명,매출액,골프전환,골프매출,헬스매출,환불사용금매출,미수액,개월수,종료시점,최초등록월
0,12131325,2020-09-01,헬스,899000,0,0,899000,0,0,12,2021-09-01,2020-09-01
1,13110008,2021-05-01,골프,1700000,0,1580000,0,0,0,12,2022-05-01,2021-05-01
2,13110008,2021-06-01,NaN,200000,0,0,0,0,0,0,2021-06-01,2021-05-01
3,13110008,2022-06-01,골프,1700000,0,1580000,0,0,0,12,2023-06-01,2021-05-01
4,13110008,2023-08-01,NaN,220000,0,0,0,0,0,0,2023-08-01,2021-05-01
...,...,...,...,...,...,...,...,...,...,...,...,...
10023,23120077,2023-12-01,헬스,990000,0,0,990000,0,0,10,2024-10-01,2023-12-01
10024,24010001,2023-12-01,헬스,990000,0,0,990000,0,0,10,2024-10-01,2023-12-01
10025,24010002,2023-12-01,NaN,990000,0,0,0,0,0,0,2023-12-01,2023-12-01
10026,24010003,2022-01-01,헬스,1035000,0,0,990000,0,0,10,2022-11-01,2022-01-01
10027,88017624,2023-02-01,골프,0,0,0,0,0,0,0,2023-02-01,2023-02-01

In [81]:
# 제외할거래 = df3[df3['종료시점']>= to_datetime("2024-01", format="%Y-%m")]
# 제외할거래
# df4 = df3[~df3.index.isin(제외할거래.index)] #날짜 컬럼이 포함된 행은 ~ 연산자를 적용할 수 없음.

In [33]:
df4 = df3.copy()
df4[(df4['개월수'] ==0)]['등록명'].unique()

array([nan, '헬스', '골프', '골프골프', '헬스헬스', '골프헬스', '헬스골프', '골프골프헬스',
       '헬스헬스골프'], dtype=object)

In [34]:
등록명 = ['헬스', '골프', '골프골프', '헬스헬스', '골프헬스', '헬스골프', '골프골프헬스',
       '헬스헬스골프']
df4[(df4['개월수'] == 0)&(~df4['등록명'].isin(등록명))]

,회원카드번호,연월,등록명,매출액,골프전환,골프매출,헬스매출,환불사용금매출,미수액,개월수,종료시점,최초등록월
2,13110008,2021-06-01,NaN,200000,0,0,0,0,0,0,2021-06-01,2021-05-01
4,13110008,2023-08-01,NaN,220000,0,0,0,0,0,0,2023-08-01,2021-05-01
12,13110017,2021-01-01,NaN,180000,0,0,0,0,0,0,2021-01-01,2020-06-01
16,13110019,2020-05-01,NaN,495000,0,0,0,0,0,0,2020-05-01,2020-03-01
19,13110030,2020-03-01,NaN,30000,0,0,0,0,0,0,2020-03-01,2020-03-01
...,...,...,...,...,...,...,...,...,...,...,...,...
9938,23110048,2023-11-01,NaN,990000,0,0,0,0,0,0,2023-11-01,2023-11-01
9944,23110052,2023-12-01,NaN,120000,0,0,0,0,0,0,2023-12-01,2023-11-01
9946,23110053,2023-12-01,NaN,45000,0,0,0,0,0,0,2023-12-01,2023-11-01
10010,23120064,2023-12-01,NaN,880000,0,0,0,0,0,0,2023-12-01,2023-12-01
10025,24010002,2023-12-01,NaN,990000,0,0,0,0,0,0,2023-12-01,2023-12-01

In [36]:
import numpy as np

# Assuming your array is named 'values'
nan_indices = np.isnan(df4['개월수'])
clean_values = df4['개월수'][~nan_indices]
df4[nan_indices]
#df4.head()

Empty DataFrame
Columns: [회원카드번호, 연월, 등록명, 매출액, 골프전환, 골프매출, 헬스매출, 환불사용금매출, 미수액, 개월수, 종료시점, 최초등록월]
Index: []

### 개월수만 고려 (등록명이 없는 항목은 매출이 있어도 제외함.)

In [37]:
df4['등록명'].unique()

array(['헬스', '골프', nan, '골프골프', '헬스헬스', '골프헬스', '헬스헬스헬스', '헬스골프',
       '골프골프헬스', '골프골프골프', '골프골프골프골프', '헬스헬스골프', '골프골프골프헬스', '골프헬스골프'],
      dtype=object)

In [38]:

df4['등록명'].unique()
등록명 = ['헬스', '골프', '골프골프', '헬스헬스', '골프헬스', '헬스헬스헬스', '헬스골프',
       '골프골프헬스', '골프골프골프', '골프골프골프골프', '헬스헬스골프', '골프골프골프헬스', '골프헬스골프']
df5 = df4[df4['등록명'].isin(등록명)]
df5.reset_index(drop=True, inplace=True)

In [87]:
# 행병합 = []

# a = df5.query('회원카드번호 == 13110008.0').sort_values(by="연월")
# a.reset_index(drop=True, inplace=True)
# for j in range(0, len(a)): # 0, 1
#         a.loc[j, '거래순서'] = j  # 거래순서 열 추가 # pandas ranking 써 볼

# 행병합.append(a)  # 행병합 리스트에 데이터프레임 추가

# 행병합
# df6= concat(행병합, ignore_index=True)
# df6

In [39]:
from datetime import datetime

def diff_month(d1, d2):
    return (d1.year - d2.year) * 12 + d1.month - d2.month

# diff_month(datetime.today(), datetime(2020, 1, 20))

### 환불회원 개월수 보정

In [40]:
회원카드 = df5['회원카드번호'].unique()
행병합 = []

for i in 회원카드:
    a = df5.query('회원카드번호 == @i').sort_values(by="연월")  # 연월에 대해 데이터프레임을 정렬
    a.reset_index(drop=True, inplace=True)

    for j in range(len(a)):
        if j > 0:
            if (a.loc[j, '골프매출'] < 0) and (a.loc[j, '개월수'] < 0):
                if -a.loc[j,'골프매출'] == a.loc[j-1,'골프매출']:
                    a.loc[j, "개월수"] -= diff_month(a.loc[j-1, '연월'], a.loc[j,'연월'])
                    a.loc[j, "환불여부"] = 1
            if (a.loc[j, '헬스매출'] < 0) and (a.loc[j, '개월수'] < 0):
                if -a.loc[j,'헬스매출'] == a.loc[j-1,'헬스매출']:
                    a.loc[j, "개월수"] -= diff_month(a.loc[j-1, '연월'], a.loc[j,'연월'])
                    a.loc[j, "환불여부"] = 1

    행병합.append(a)

df6 = concat(행병합, ignore_index=True)
df9 = df6[df6["환불여부"]==1]
for i in df9.index:
    df6.loc[i, '개월수'] = df9.loc[i, '개월수']
    df6.loc[i, '환불여부'] = df9.loc[i, '환불여부']

# diff_month(df5.loc[df5['회원카드번호'==13110011], '연월'], a.loc[j,'연월'])

### 골프전환 개월수 처리

In [41]:

def custom_date_parser(date_string):
    return to_datetime(date_string, format="%Y-%m-%d %H:%M:%S")

golforigin = read_excel('골프전환개월수_매칭용.xlsx', parse_dates=['거래일시'], date_parser=custom_date_parser)
golfdf = golforigin.copy()
# golfdf['연월'] = to_datetime(golfdf['거래일시']).dt.to_period("M")
golfdf['연월'] = golfdf['거래일시'].dt.strftime('%Y-%m')
golfdf['연월'] = to_datetime(golfdf['연월'], format='%Y-%m')

golfdf2 = golfdf[['회원카드번호', '연월','골프전환개월수']].groupby(['회원카드번호', '연월'], as_index=False).sum()
df_golfmonth = merge(df6, golfdf2,left_on=['회원카드번호', '연월'], right_on=['회원카드번호', '연월'], how='left')

In [42]:
for i in df_golfmonth.index:
    if df_golfmonth.loc[i, '골프전환개월수'] == df_golfmonth.loc[i, '골프전환개월수']:
        df_golfmonth.loc[i, '개월수'] = df_golfmonth.loc[i, '골프전환개월수']
        df_golfmonth.loc[i, '골프전환2'] = 1
df5 = df_golfmonth.drop(['골프전환개월수'], axis=1)
df5

,회원카드번호,연월,등록명,매출액,골프전환,골프매출,헬스매출,환불사용금매출,미수액,개월수,종료시점,최초등록월,환불여부,골프전환2
0,12131325,2020-09-01,헬스,899000,0,0,899000,0,0,12,2021-09-01,2020-09-01,NaN,NaN
1,13110008,2021-05-01,골프,1700000,0,1580000,0,0,0,12,2022-05-01,2021-05-01,NaN,NaN
2,13110008,2022-06-01,골프,1700000,0,1580000,0,0,0,12,2023-06-01,2021-05-01,NaN,NaN
3,13110008,2023-11-01,골프,2120000,0,1880000,0,0,0,12,2024-11-01,2021-05-01,NaN,NaN
4,13110009,2020-10-01,헬스,1140000,0,0,1080000,0,0,12,2021-10-01,2020-10-01,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6492,23120076,2023-12-01,헬스,990000,0,0,990000,0,0,10,2024-10-01,2023-12-01,NaN,NaN
6493,23120077,2023-12-01,헬스,990000,0,0,990000,0,0,10,2024-10-01,2023-12-01,NaN,NaN
6494,24010001,2023-12-01,헬스,990000,0,0,990000,0,0,10,2024-10-01,2023-12-01,NaN,NaN
6495,24010003,2022-01-01,헬스,1035000,0,0,990000,0,0,10,2022-11-01,2022-01-01,NaN,NaN
6496,88017624,2023-02-01,골프,0,0,0,0,0,0,0,2023-02-01,2023-02-01,NaN,NaN

In [43]:
df5[df5['회원카드번호']==13110030]

,회원카드번호,연월,등록명,매출액,골프전환,골프매출,헬스매출,환불사용금매출,미수액,개월수,종료시점,최초등록월,환불여부,골프전환2
15,13110030,2021-02-01,골프,2090000,0,1480000,0,0,0,12,2022-02-01,2020-03-01,NaN,NaN
16,13110030,2022-05-01,헬스,0,0,0,0,0,0,0,2022-05-01,2020-03-01,NaN,NaN
17,13110030,2022-08-01,골프,290000,1,90000,0,0,0,0,2022-08-01,2020-03-01,NaN,NaN
18,13110030,2022-11-01,헬스,3120000,0,0,1080000,0,0,12,2023-11-01,2020-03-01,NaN,NaN

In [44]:
df5['등록명'].unique()

array(['헬스', '골프', '골프골프', '헬스헬스', '골프헬스', '헬스헬스헬스', '헬스골프', '골프골프헬스',
       '골프골프골프', '골프골프골프골프', '헬스헬스골프', '골프골프골프헬스', '골프헬스골프'], dtype=object)

In [45]:
df5[df5['등록명']=='골프헬스헬스']

Empty DataFrame
Columns: [회원카드번호, 연월, 등록명, 매출액, 골프전환, 골프매출, 헬스매출, 환불사용금매출, 미수액, 개월수, 종료시점, 최초등록월, 환불여부, 골프전환2]
Index: []

In [46]:
df5[(df5['골프전환']==1)&(df5['개월수']==0)]

,회원카드번호,연월,등록명,매출액,골프전환,골프매출,헬스매출,환불사용금매출,미수액,개월수,종료시점,최초등록월,환불여부,골프전환2
17,13110030,2022-08-01,골프,290000,1,90000,0,0,0,0,2022-08-01,2020-03-01,NaN,NaN
34,13110069,2021-08-01,골프,690000,1,590000,0,0,0,0,2021-08-01,2020-05-01,NaN,NaN
80,13120014,2021-07-01,골프골프,880000,1,390000,0,0,0,0,2021-07-01,2020-04-01,NaN,NaN
185,13120178,2022-05-01,골프,360000,1,240000,0,0,0,0,2022-05-01,2020-02-01,NaN,NaN
198,13120195,2021-02-01,골프,150000,1,150000,0,0,0,0,2021-02-01,2020-02-01,NaN,NaN
288,13120342,2022-03-01,골프,360000,1,360000,0,0,0,0,2022-03-01,2020-01-01,NaN,NaN
473,14020127,2023-08-01,골프,230000,1,230000,0,0,0,0,2023-08-01,2020-05-01,NaN,NaN
488,14020148,2021-12-01,골프,520000,1,0,0,0,0,0,2021-12-01,2020-03-01,NaN,NaN
496,14020156,2022-10-01,골프,0,1,0,0,0,0,0,2022-10-01,2020-02-01,NaN,NaN
567,14040103,2021-03-01,골프,240000,1,240000,0,0,0,0,2021-03-01,2020-01-01,NaN,NaN
599,14060037,2022-03-01,골프,120000,1,120000,0,0,0,0,2022-03-01,2020-03-01,NaN,NaN
747,15030038,2021-03-01,골프,0,1,0,0,0,0,0,2021-03-01,2020-01-01,NaN,NaN
813,15060025,2023-02-01,골프,740000,1,500000,0,0,0,0,2023-02-01,2020-05-01,NaN,NaN
867,15070080,2021-03-01,골프,1220000,1,480000,0,0,0,0,2021-03-01,2020-03-01,NaN,NaN
937,15110040,2020-10-01,골프,-880000,1,-240000,0,0,0,0,2020-10-01,2020-01-01,NaN,NaN
1168,17010022,2020-09-01,골프,950000,1,500000,0,0,0,0,2020-09-01,2020-04-01,NaN,NaN
1177,17010037,2021-03-01,골프,392000,1,272000,0,0,0,0,2021-03-01,2021-02-01,NaN,NaN
1388,17070104,2021-07-01,골프,400000,1,300000,0,0,0,0,2021-07-01,2020-11-01,NaN,NaN
1425,17090023,2023-01-01,골프,720000,1,720000,0,0,0,0,2023-01-01,2020-09-01,NaN,NaN
1455,17110068,2022-10-01,골프,680000,1,120000,0,0,0,0,2022-10-01,2020-06-01,NaN,NaN
1629,18030035,2021-06-01,골프,140000,1,100000,0,0,0,0,2021-06-01,2020-01-01,NaN,NaN
1720,18060055,2022-02-01,골프,730000,1,240000,0,0,0,0,2022-02-01,2020-01-01,NaN,NaN
2057,19030052,2021-06-01,골프,-600000,1,-540000,0,0,0,0,2021-06-01,2020-01-01,NaN,NaN
2103,19040041,2021-09-01,골프,80000,1,60000,0,0,0,0,2021-09-01,2020-05-01,NaN,NaN
2303,19090022,2021-11-01,골프,620000,1,500000,0,0,0,0,2021-11-01,2020-09-01,NaN,NaN
2333,19090069,2021-11-01,골프,480000,1,480000,0,0,0,0,2021-11-01,2020-02-01,NaN,NaN
2370,19100020,2023-04-01,골프,972000,1,0,0,0,972000,0,2023-04-01,2020-10-01,NaN,NaN
2520,19120051,2021-10-01,골프,300000,1,300000,0,0,0,0,2021-10-01,2020-02-01,NaN,NaN
2562,20010016,2020-07-01,골프,360000,1,300000,0,0,0,0,2020-07-01,2020-01-01,NaN,NaN
2617,20010052,2022-10-01,골프헬스,0,1,0,0,0,0,0,2022-10-01,2020-01-01,NaN,NaN
2670,20010076,2021-08-01,골프,400000,1,300000,0,0,0,0,2021-08-01,2020-01-01,NaN,NaN
3056,20060008,2022-12-01,골프,660000,1,660000,0,0,0,0,2022-12-01,2020-06-01,NaN,NaN
3255,20070071,2021-02-01,골프,480000,1,480000,0,0,0,0,2021-02-01,2020-07-01,NaN,NaN
3321,20080037,2020-09-01,골프,300000,1,300000,0,0,0,0,2020-09-01,2020-08-01,NaN,NaN
3378,20090018,2022-12-01,골프,500000,1,500000,0,0,0,0,2022-12-01,2020-09-01,NaN,NaN
3422,20100007,2020-10-01,골프,930000,1,240000,0,0,0,0,2020-10-01,2020-10-01,NaN,NaN
3686,21010022,2021-02-01,골프,900000,1,420000,0,0,0,0,2021-02-01,2021-01-01,NaN,NaN
3699,21010028,2021-08-01,골프,1120000,1,600000,0,0,0,0,2021-08-01,2021-02-01,NaN,NaN
3830,21020068,2022-03-01,골프,1260000,1,540000,0,0,0,0,2022-03-01,2021-03-01,NaN,NaN
4050,21040043,2022-08-01,골프,820000,1,330000,0,0,0,0,2022-08-01,2021-04-01,NaN,NaN
4268,21060047,2021-06-01,골프,950000,1,540000,0,0,0,0,2021-06-01,2021-06-01,NaN,NaN
4377,21080010,2023-06-01,골프,730000,1,400000,0,0,0,0,2023-06-01,2021-08-01,NaN,NaN
4516,21090045,2022-03-01,골프,0,1,0,0,0,0,0,2022-03-01,2021-09-01,NaN,NaN
4544,21100011,2021-11-01,골프,1120000,1,540000,0,0,0,0,2021-11-01,2021-10-01,NaN,NaN
4610,21110015,2023-04-01,골프,480000,1,400000,0,0,0,0,2023-04-01,2021-11-01,NaN,NaN
4650,21110041,2022-06-01,골프,-591000,1,-481000,0,0,0,0,2022-06-01,2021-11-01,NaN,NaN
4680,21110058,2022-10-01,골프,60000,1,60000,0,0,0,0,2022-10-01,2021-11-01,NaN,NaN
4703,21120002,2022-07-01,골프,-450000,1,-420000,0,0,0,0,2022-07-01,2021-12-01,NaN,NaN
4884,22020012,2022-05-01,골프,470000,1,390000,0,0,0,0,2022-05-01,2022-02-01,NaN,NaN
5151,22050002,2022-06-01,골프,330000,1,330000,0,0,0,0,2022-06-01,2022-05-01,NaN,NaN
5270,22060031,2022-06-01,골프,641000,1,481000,0,0,0,0,2022-06-01,2022-06-01,NaN,NaN
5364,22070032,2022-07-01,골프,500000,1,420000,0,0,0,0,2022-07-01,2022-07-01,NaN,NaN
5558,22100029,2023-02-01,골프,600000,1,600000,0,0,0,0,2023-02-01,2022-10-01,NaN,NaN
5676,22120022,2023-09-01,골프,-540000,1,-800000,0,300000,0,0,2023-09-01,2022-12-01,NaN,NaN
5784,23020039,2023-03-01,골프골프,720000,1,600000,0,0,0,0,2023-03-01,2023-02-01,NaN,NaN

### 양도개월수 적용
- 양도한 사람은 기존 개월수 + (- 양도개월수)
- 양도 받은 사람은 기존 개월수를 양도개월수로 변경

In [47]:
yang_origin = read_excel('번호별연월별양도리스트.xlsx', )
ydf = yang_origin.copy()[['회원카드번호', '연월', '양도개월수']]
ydf['연월'] = to_datetime(ydf['연월'], format='%Y-%m')
df_yang_month = merge(df5, ydf,left_on=['회원카드번호', '연월'], right_on=['회원카드번호', '연월'], how='left')

In [48]:
for i in df_yang_month.index:
    if df_yang_month.loc[i, '양도개월수'] == df_yang_month.loc[i, '양도개월수']:
        if df_yang_month.loc[i, '양도개월수'] < 0:
            df_yang_month.loc[i, '개월수'] =  df_yang_month.loc[i, '개월수'] + df_yang_month.loc[i, '양도개월수']
            df_yang_month.loc[i, '양도'] = 1
        elif df_yang_month.loc[i, '양도개월수'] >= 0:
            df_yang_month.loc[i, '개월수'] =  df_yang_month.loc[i, '양도개월수']
            df_yang_month.loc[i, '양도'] = 1

df5= df_yang_month.drop(['양도개월수'], axis=1)
df5

,회원카드번호,연월,등록명,매출액,골프전환,골프매출,헬스매출,환불사용금매출,미수액,개월수,종료시점,최초등록월,환불여부,골프전환2,양도
0,12131325,2020-09-01,헬스,899000,0,0,899000,0,0,12,2021-09-01,2020-09-01,NaN,NaN,NaN
1,13110008,2021-05-01,골프,1700000,0,1580000,0,0,0,12,2022-05-01,2021-05-01,NaN,NaN,NaN
2,13110008,2022-06-01,골프,1700000,0,1580000,0,0,0,12,2023-06-01,2021-05-01,NaN,NaN,NaN
3,13110008,2023-11-01,골프,2120000,0,1880000,0,0,0,12,2024-11-01,2021-05-01,NaN,NaN,NaN
4,13110009,2020-10-01,헬스,1140000,0,0,1080000,0,0,12,2021-10-01,2020-10-01,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6492,23120076,2023-12-01,헬스,990000,0,0,990000,0,0,10,2024-10-01,2023-12-01,NaN,NaN,NaN
6493,23120077,2023-12-01,헬스,990000,0,0,990000,0,0,10,2024-10-01,2023-12-01,NaN,NaN,NaN
6494,24010001,2023-12-01,헬스,990000,0,0,990000,0,0,10,2024-10-01,2023-12-01,NaN,NaN,NaN
6495,24010003,2022-01-01,헬스,1035000,0,0,990000,0,0,10,2022-11-01,2022-01-01,NaN,NaN,NaN
6496,88017624,2023-02-01,골프,0,0,0,0,0,0,0,2023-02-01,2023-02-01,NaN,NaN,NaN

### 직원카드번호 제외

In [49]:
직원카드번호 = my_read_excel("직원카드번호.xlsx")
직원 = 직원카드번호['회원카드번호'].unique()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98 entries, 0 to 97
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   회원카드번호  98 non-null     int64
 1   직원이름    98 non-null     object
dtypes: int64(1), object(1)
memory usage: 1.7+ KB
None

상위 5개 행
+----+----------------+------------------+
|    |   회원카드번호 | 직원이름         |
|----+----------------+------------------|
|  0 |       20060022 | 홍진석(직원)     |
|  1 |       21110025 | 손재욱(직원가족) |
|  2 |       21110025 | 손재욱(직원가족) |
|  3 |       21110025 | 손재욱(직원가족) |
|  4 |       23050073 | 윤성현cs(직원)   |
+----+----------------+------------------+

하위 5개 행
+----+----------------+----------------+
|    |   회원카드번호 | 직원이름       |
|----+----------------+----------------|
| 93 |       23050073 | 윤성현cs(직원) |
| 94 |       23020053 | 백희정(직원)   |
| 95 |       23050075 | 김광현(직원)   |
| 96 |       23020052 | 신지연(직원)   |
| 97 |       23050074 | 홍석민(직원)   |
+----+----------------+----------------+

기술통계
+--------------+---------+-------------+-------------+-----------+-----------+------------+-------------+-----------+-------+
|              |   count |        mean |         std |       min |       25% |        50% |         75% |       max |   nan |
|--------------+---------+-------------+-------------+-----------+-----------+------------+-------------+-----------+-------|
| 회원카드번호 |      98 | 2.15361e+07 | 1.71783e+06 | 1.605e+07 | 2.009e+07 | 2.1605e+07 | 2.30501e+07 | 2.312e+07 |     0 |
+--------------+---------+-------------+-------------+-----------+-----------+------------+-------------+-----------+-------+

In [50]:
df5=df5[~df5['회원카드번호'].isin(직원)]
df5.reset_index(drop=True, inplace=True)
df5

,회원카드번호,연월,등록명,매출액,골프전환,골프매출,헬스매출,환불사용금매출,미수액,개월수,종료시점,최초등록월,환불여부,골프전환2,양도
0,12131325,2020-09-01,헬스,899000,0,0,899000,0,0,12,2021-09-01,2020-09-01,NaN,NaN,NaN
1,13110008,2021-05-01,골프,1700000,0,1580000,0,0,0,12,2022-05-01,2021-05-01,NaN,NaN,NaN
2,13110008,2022-06-01,골프,1700000,0,1580000,0,0,0,12,2023-06-01,2021-05-01,NaN,NaN,NaN
3,13110008,2023-11-01,골프,2120000,0,1880000,0,0,0,12,2024-11-01,2021-05-01,NaN,NaN,NaN
4,13110009,2020-10-01,헬스,1140000,0,0,1080000,0,0,12,2021-10-01,2020-10-01,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6443,23120076,2023-12-01,헬스,990000,0,0,990000,0,0,10,2024-10-01,2023-12-01,NaN,NaN,NaN
6444,23120077,2023-12-01,헬스,990000,0,0,990000,0,0,10,2024-10-01,2023-12-01,NaN,NaN,NaN
6445,24010001,2023-12-01,헬스,990000,0,0,990000,0,0,10,2024-10-01,2023-12-01,NaN,NaN,NaN
6446,24010003,2022-01-01,헬스,1035000,0,0,990000,0,0,10,2022-11-01,2022-01-01,NaN,NaN,NaN
6447,88017624,2023-02-01,골프,0,0,0,0,0,0,0,2023-02-01,2023-02-01,NaN,NaN,NaN

### 매출액, 골프전환, 골프매출, 헬스매출, 환불사용금매출, 미수액, 개월수가 모두 0인 등록명= '헬스'이거나 '골프'인 항목 제거

In [51]:
df100 = df5[(df5['매출액']==0)&(df5['골프전환']==0)&(df5['골프매출']==0)&(df5['헬스매출']==0)&(df5['환불사용금매출']==0)&(df5['미수액']==0)&(df5['개월수']==0)&(df5['등록명']=='헬스')]
df_filtered = df5[~df5.index.isin(df100.index)]
df200 = df5[(df5['매출액']==0)&(df5['골프전환']==0)&(df5['골프매출']==0)&(df5['헬스매출']==0)&(df5['환불사용금매출']==0)&(df5['미수액']==0)&(df5['개월수']==0)&(df5['등록명']=='골프')]
df_filtered2 = df_filtered[~df_filtered.index.isin(df200.index)] 
df5 = df_filtered2.copy()
df5.reset_index(drop=True, inplace=True)

In [52]:
df5[df5['개월수']==0]['등록명'].unique()

array(['골프', '골프골프', '헬스', '골프헬스', '헬스헬스', '골프골프헬스', '헬스골프'], dtype=object)

In [102]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6311 entries, 0 to 6310
Data columns (total 15 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   회원카드번호   6311 non-null   int64
 1   연월       6311 non-null   datetime64[ns]
 2   등록명      6311 non-null   object
 3   매출액      6311 non-null   int64
 4   골프전환     6311 non-null   int64
 5   골프매출     6311 non-null   int64
 6   헬스매출     6311 non-null   int64
 7   환불사용금매출  6311 non-null   int64
 8   미수액      6311 non-null   int64
 9   개월수      6311 non-null   int64
 10  종료시점     6311 non-null   datetime64[ns]
 11  최초등록월    6311 non-null   datetime64[ns]
 12  환불여부     318 non-null    float64
 13  골프전환2    52 non-null     float64
 14  양도       538 non-null    float64
dtypes: datetime64[ns](3), float64(3), int64(8), object(1)
memory usage: 739.7+ KB

### 휴면가능 기간 처리

In [53]:
df5['휴면가능'] = np.where(df5['개월수'] >= 36, 6, np.where(df5['개월수'] >= 24, 4, np.where(df5['개월수'] >= 12, 2, 0)))

for i in range(len(df5)):
    # Convert Period to Timestamp, add DateOffset, and then convert back to Period
    df5.loc[i, '종료시점'] = (df5.loc[i, '연월'] + DateOffset(months=df5.loc[i, '개월수']))
    df5.loc[i, '휴면반영'] = (df5.loc[i, '연월'] + DateOffset(months=df5.loc[i, '개월수'] + df5.loc[i, '휴면가능']))

df6 = df5.copy()

In [54]:
# 회원카드
회원카드 = df6['회원카드번호'].unique()
행병합 = []

for i in 회원카드:
    a = df6.query('회원카드번호 == @i').sort_values(by="연월")  # 연월에 대해 데이터프레임을 정렬
    a.reset_index(drop=True, inplace=True)
    
    for j in range(len(a)) :
        a.loc[j, '거래순서'] = j  # 거래순서 열 추가 
        a.loc[j, "마지막거래"] = len(a)-1
#        개월수 = 0
        
#        for k in range (j+1) :            
#            개월수 += a.loc[k, '개월수']
        
        if j == 0:
            a.loc[j, '잔여개월수'] = a.loc[j, "개월수"]
            a.loc[j, '종료시점'] = a.loc[j,"연월"] + DateOffset(months = a.loc[j, "개월수"])
            a.loc[j, "결제시점"] = 0
            
        if (j > 0) :
            a.loc[j, '종료시점'] =  a.loc[j-1,"연월"] + DateOffset(months = a.loc[j, "개월수"])
            a.loc[j, "잔여개월수"] = diff_month(a.loc[j, '종료시점'], a.loc[j,'연월'])
            a.loc[j, "결제시점"] = diff_month(a.loc[j-1, '종료시점'], a.loc[j,'연월'])
            
            if to_datetime(a.loc[j,"연월"]) <= to_datetime('2020-12-01'):  # 코로나 이전    
                if a.loc[j, "결제시점"] < 0 and a.loc[j-1, "휴면가능"] != 0:
                    휴면보정값 = min(a.loc[j-1, "휴면가능"], abs(a.loc[j, "결제시점"]))
            
                    a.loc[j-1, '휴면반영'] = (a.loc[j-1, '연월'] + DateOffset(months=a.loc[j-1, '개월수'] + 휴면보정값))
                # 종료시점을 휴면반영으로 설정
                    a.loc[j-1, '종료시점'] = a.loc[j-1, '휴면반영']
                    a.loc[j-1, '휴면반영'] = None
                
                a.loc[j-1, '잔여개월수'] = diff_month(a.loc[j-1, '종료시점'], a.loc[j-1, '연월'])
                a.loc[j, "결제시점"] = diff_month(a.loc[j-1, '종료시점'], a.loc[j, '연월'])
                
                if a.loc[j-1, "종료시점"] >= a.loc[j, "연월"]:
                    a.loc[j, '종료시점'] =  a.loc[j-1,"종료시점"] + DateOffset(months = a.loc[j, "개월수"])
                    a.loc[j, "잔여개월수"] = diff_month(a.loc[j, '종료시점'], a.loc[j,'연월'])
                    a.loc[j, "결제시점"] = diff_month(a.loc[j-1, '종료시점'], a.loc[j,'연월'])
        
                if a.loc[j-1, "종료시점"] < a.loc[j, "연월"]: 
                    a.loc[j-1, "마지막거래"] = j-1
                    a.loc[j, "종료시점"] =   a.loc[j,"연월"] + DateOffset(months = a.loc[j, "개월수"])
                    a.loc[j, '잔여개월수'] = a.loc[j, "개월수"]
                    a.loc[j, "결제시점"] = 0
                
            elif to_datetime(a.loc[j,"연월"]) <= to_datetime('2021-01-01'):  # 코로나 기간
                if a.loc[j, "결제시점"] < 0 and a.loc[j-1, "휴면가능"] != 0:
                    휴면보정값 = min(a.loc[j-1, "휴면가능"], abs(a.loc[j-1, "결제시점"]))
                    a.loc[j-1, '휴면반영'] = (a.loc[j-1, '연월'] + DateOffset(months=a.loc[j-1, '개월수'] + 휴면보정값))
                
                # 종료시점을 휴면반영으로 설정
                    a.loc[j-1, '종료시점'] = a.loc[j-1, '휴면반영']
                    a.loc[j-1, '휴면반영'] = None
                
                # 휴면가능한 경우 휴면가능 수를 추가하여 잔여 개월수를 다시 계산
                a.loc[j-1, '잔여개월수'] = diff_month(a.loc[j-1, '종료시점'], a.loc[j-1,'연월'])
                a.loc[j, "결제시점"] = diff_month(a.loc[j-1, '종료시점'], a.loc[j,'연월'])
                
                if a.loc[j-1, "종료시점"] >= a.loc[j, "연월"]:      # 이전거래와 지금 거래가 이어지는 경우
                    코로나보정값 = a.loc[j, "개월수"]+1
                    a.loc[j, '종료시점'] =  a.loc[j-1,"종료시점"] + DateOffset(months =코로나보정값) # 코로나 보정값
                    a.loc[j, "잔여개월수"] = diff_month(a.loc[j, '종료시점'], a.loc[j,'연월'])
                 
        
                if a.loc[j-1, "종료시점"] < a.loc[j, "연월"]:  # 지금의 거래가 이탈 이후 첫 거래인 경우
                    a.loc[j-1, "마지막거래"] = j-1
                    코로나보정값 = a.loc[j, "개월수"]+1
                    a.loc[j, "종료시점"] =   a.loc[j,"연월"] + DateOffset(months = 코로나보정값)                                        # 코로나 보정값
                    a.loc[j, '잔여개월수'] = a.loc[j, "개월수"] +1                                                                                                     # 코로나 보정값       
                    
                                    
            elif to_datetime(a.loc[j,"연월"]) <= to_datetime('2023-01-01'):  # 코로나와 리모델링 사이
                if a.loc[j, "결제시점"] < 0 and a.loc[j-1, "휴면가능"] != 0:
                    휴면보정값 = min(a.loc[j-1, "휴면가능"], abs(a.loc[j, "결제시점"]))
                    a.loc[j-1, '휴면반영'] = (a.loc[j-1, '연월'] + DateOffset(months=a.loc[j-1, '개월수'] + 휴면보정값))
                
                # 종료시점을 휴면반영으로 설정
                    a.loc[j-1, '종료시점'] = a.loc[j-1, '휴면반영']
                    a.loc[j-1, '휴면반영'] = None
                
                # 휴면가능한 경우 휴면가능 수를 추가하여 잔여 개월수를 다시 계산
                a.loc[j-1, '잔여개월수'] = diff_month(a.loc[j-1, '종료시점'], a.loc[j-1,'연월'])
                a.loc[j, "결제시점"] = diff_month(a.loc[j-1, '종료시점'], a.loc[j,'연월'])
                
                if a.loc[j-1, "종료시점"] >= a.loc[j, "연월"]:
                    a.loc[j, '종료시점'] =  a.loc[j-1,"종료시점"] + DateOffset(months = a.loc[j, "개월수"]) 
                    a.loc[j, "잔여개월수"] = diff_month(a.loc[j, '종료시점'], a.loc[j,'연월'])
        
                if a.loc[j-1, "종료시점"] < a.loc[j, "연월"]: 
                    a.loc[j-1, "마지막거래"] = j-1
                    a.loc[j, "종료시점"] =   a.loc[j,"연월"] + DateOffset(months = a.loc[j, "개월수"])
                    a.loc[j, '잔여개월수'] = a.loc[j, "개월수"]

            elif to_datetime(a.loc[j,"연월"]) <= to_datetime('2023-02-01'):  # 리모델링 기간
                if a.loc[j, "결제시점"] < 0 and a.loc[j-1, "휴면가능"] != 0:
                    휴면보정값 = min(a.loc[j-1, "휴면가능"], abs(a.loc[j-1, "결제시점"]))
                    a.loc[j-1, '휴면반영'] = (a.loc[j-1, '연월'] + DateOffset(months=a.loc[j-1, '개월수'] + 휴면보정값))
                # 종료시점을 휴면반영으로 설정
                    a.loc[j-1, '종료시점'] = a.loc[j-1, '휴면반영']
                    a.loc[j-1, '휴면반영'] = None
                
                # 휴면가능한 경우 휴면가능 수를 추가하여 잔여 개월수를 다시 계산
                a.loc[j-1, '잔여개월수'] = diff_month(a.loc[j-1, '종료시점'], a.loc[j-1,'연월'])
                a.loc[j, "결제시점"] = diff_month(a.loc[j-1, '종료시점'], a.loc[j,'연월'])
                
                if a.loc[j-1, "종료시점"] >= a.loc[j, "연월"]: # 이전거래와 지금 거래가 이어지는 경우
                    리모델링보정값 = a.loc[j, "개월수"]+2
                    a.loc[j, '종료시점'] =  a.loc[j-1,"종료시점"] + DateOffset(months = 리모델링보정값) # 리모델링 기간 반영
                    a.loc[j, "잔여개월수"] = diff_month(a.loc[j, '종료시점'], a.loc[j,'연월'])
    
        
                if a.loc[j-1, "종료시점"] < a.loc[j, "연월"]:   # 이탈 이후 첫 거래인 경우
                    a.loc[j-1, "마지막거래"] = j-1
                    리모델링보정값 = a.loc[j, "개월수"]+2
                    a.loc[j, "종료시점"] =   a.loc[j,"연월"] + DateOffset(months = 리모델링보정값)                                          # 리모델링 기간 반영
                    a.loc[j, '잔여개월수'] = a.loc[j, "개월수"] +2                                                                                                        # 리모델링 기간 반영
     
            else:  # 리모델링 이후
                if a.loc[j, "결제시점"] < 0 and a.loc[j-1, "휴면가능"] != 0:
                    휴면보정값 = min(a.loc[j-1, "휴면가능"], abs(a.loc[j, "결제시점"]))
                    a.loc[j-1, '휴면반영'] = (a.loc[j-1, '연월'] + DateOffset(months=a.loc[j-1, '개월수'] + 휴면보정값))
                
                # 종료시점을 휴면반영으로 설정
                    a.loc[j-1, '종료시점'] = a.loc[j-1, '휴면반영']
                    a.loc[j-1, '휴면반영'] = None
                
                a.loc[j-1, '잔여개월수'] = diff_month(a.loc[j-1, '종료시점'], a.loc[j-1,'연월'])
                a.loc[j, "결제시점"] = diff_month(a.loc[j-1, '종료시점'], a.loc[j,'연월'])
                
                if a.loc[j-1, "종료시점"] >= a.loc[j, "연월"]:
                    a.loc[j, '종료시점'] =  a.loc[j-1,"종료시점"] + DateOffset(months =a.loc[j, "개월수"])
                    a.loc[j, "잔여개월수"] = diff_month(a.loc[j, '종료시점'], a.loc[j,'연월'])
              
        
                if a.loc[j-1, "종료시점"] < a.loc[j, "연월"]: 
                    a.loc[j-1, "마지막거래"] = j-1
                    a.loc[j, "종료시점"] =   a.loc[j,"연월"] + DateOffset(months = a.loc[j, "개월수"])
                    a.loc[j, '잔여개월수'] = a.loc[j, "개월수"]
       
    

        if j ==0:
            if (a.loc[j, "거래순서"] == a.loc[j, "마지막거래"])&(a.loc[j,'종료시점'] < to_datetime("2024-01", format="%Y-%m")):
                a.loc[j, "이탈여부"] = 1
            if (a.loc[j, "거래순서"] == a.loc[j, "마지막거래"])&(a.loc[j,'종료시점'] >= to_datetime("2024-01", format="%Y-%m")):
                a.loc[j, "이탈여부"] = 2
                
        if j > 0:
            if a.loc[j, '결제시점'] < 0 :
                a.loc[j-1, "이탈여부"] = 1
            else: 
                a.loc[j-1, "이탈여부"] = 0
        
            if (a.loc[j, "거래순서"] == a.loc[j, "마지막거래"])&(a.loc[j,'종료시점'] < to_datetime("2024-01", format="%Y-%m")):
                a.loc[j, "이탈여부"] = 1
            if (a.loc[j, "거래순서"] == a.loc[j, "마지막거래"])&(a.loc[j,'종료시점'] >= to_datetime("2024-01", format="%Y-%m")):
                a.loc[j, "이탈여부"] = 2
           
            # a.loc[j, '잔여개월수'] = a.loc[j,"종료시점"] - a.loc[j, "연월"]
    행병합.append(a)  # 행병합 리스트에 데이터프레임 추가

# 모든 데이터프레임을 행 방향으로 병합
df7 = concat(행병합, ignore_index=True)
df7

,회원카드번호,연월,등록명,매출액,골프전환,골프매출,헬스매출,환불사용금매출,미수액,개월수,...,환불여부,골프전환2,양도,휴면가능,휴면반영,거래순서,마지막거래,잔여개월수,결제시점,이탈여부
0,12131325,2020-09-01,헬스,899000,0,0,899000,0,0,12,...,NaN,NaN,NaN,2,2021-11-01,0.0,0.0,12.0,0.0,1.0
1,13110008,2021-05-01,골프,1700000,0,1580000,0,0,0,12,...,NaN,NaN,NaN,2,NaT,0.0,2.0,13.0,0.0,0.0
2,13110008,2022-06-01,골프,1700000,0,1580000,0,0,0,12,...,NaN,NaN,NaN,2,NaT,1.0,1.0,14.0,0.0,1.0
3,13110008,2023-11-01,골프,2120000,0,1880000,0,0,0,12,...,NaN,NaN,NaN,2,2025-01-01,2.0,2.0,12.0,-3.0,2.0
4,13110009,2020-10-01,헬스,1140000,0,0,1080000,0,0,12,...,NaN,NaN,NaN,2,NaT,0.0,0.0,14.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6304,23120075,2023-12-01,골프,1920000,0,1690000,0,0,0,10,...,NaN,NaN,NaN,0,2024-10-01,0.0,0.0,10.0,0.0,2.0
6305,23120076,2023-12-01,헬스,990000,0,0,990000,0,0,10,...,NaN,NaN,NaN,0,2024-10-01,0.0,0.0,10.0,0.0,2.0
6306,23120077,2023-12-01,헬스,990000,0,0,990000,0,0,10,...,NaN,NaN,NaN,0,2024-10-01,0.0,0.0,10.0,0.0,2.0
6307,24010001,2023-12-01,헬스,990000,0,0,990000,0,0,10,...,NaN,NaN,NaN,0,2024-10-01,0.0,0.0,10.0,0.0,2.0
6308,24010003,2022-01-01,헬스,1035000,0,0,990000,0,0,10,...,NaN,NaN,NaN,0,2022-11-01,0.0,0.0,10.0,0.0,1.0

In [55]:
df7.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6309 entries, 0 to 6308
Data columns (total 22 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   회원카드번호   6309 non-null   int64
 1   연월       6309 non-null   datetime64[ns]
 2   등록명      6309 non-null   object
 3   매출액      6309 non-null   int64
 4   골프전환     6309 non-null   int64
 5   골프매출     6309 non-null   int64
 6   헬스매출     6309 non-null   int64
 7   환불사용금매출  6309 non-null   int64
 8   미수액      6309 non-null   int64
 9   개월수      6309 non-null   int64
 10  종료시점     6309 non-null   datetime64[ns]
 11  최초등록월    6309 non-null   datetime64[ns]
 12  환불여부     318 non-null    float64
 13  골프전환2    52 non-null     float64
 14  양도       538 non-null    float64
 15  휴면가능     6309 non-null   int32
 16  휴면반영     5505 non-null   datetime64[ns]
 17  거래순서     6309 non-null   float64
 18  마지막거래    6309 non-null   float64
 19  잔여개월수    6309 non-null   float64
 20  결제시점     6309 non-null   float64
 21  이탈여부     6309 non-null   float64
dtypes: datetime64[ns](4), float64(8), int32(1), int64(8), object(1)
memory usage: 1.0+ MB

In [56]:
df7[df7['회원카드번호']==13110069]['종료시점']

31   2021-07-01
32   2022-07-01
33   2022-07-01
34   2023-09-01
35   2024-09-01
Name: 종료시점, dtype: datetime64[ns]

In [57]:
df8 =my_read_excel("변수통합.xlsx")
df8['연월'] = to_datetime(df8['연월'], format="%Y-%m")
df9 = df8.filter(['회원카드번호','연월','광고','추세값'])
df9

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6500 entries, 0 to 6499
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   회원카드번호  6500 non-null   int64
 1   연월      6500 non-null   object
 2   등록명     6500 non-null   object
 3   매출액     6500 non-null   int64
 4   미수액     6500 non-null   int64
 5   종료시점    6500 non-null   object
 6   잔여개월수   6440 non-null   float64
 7   결제시점    6372 non-null   float64
 8   이탈여부    6500 non-null   int64
 9   광고      6500 non-null   int64
 10  추세값     6500 non-null   float64
dtypes: float64(3), int64(5), object(3)
memory usage: 558.7+ KB
None

상위 5개 행
+----+----------------+---------+----------+----------+----------+------------+--------------+------------+------------+--------+-----------+
|    |   회원카드번호 | 연월    | 등록명   |   매출액 |   미수액 | 종료시점   |   잔여개월수 |   결제시점 |   이탈여부 |   광고 |    추세값 |
|----+----------------+---------+----------+----------+----------+------------+--------------+------------+------------+--------+-----------|
|  0 |       12131325 | 2020-09 | 헬스     |   899000 |        0 | 2021-09    |           12 |          0 |          1 |      0 | -0.131868 |
|  1 |       13110008 | 2021-05 | 골프     |  1700000 |        0 | 2022-06    |           13 |          0 |          0 |      0 | -0.263736 |
|  2 |       13110008 | 2022-06 | 골프     |  1700000 |        0 | 2023-08    |           14 |          0 |          0 |      1 | -0.285714 |
|  3 |       13110008 | 2023-11 | 골프     |  2120000 |        0 | 2025-06    |           19 |         -3 |          2 |      0 |       3.5 |
|  4 |       13110009 | 2020-10 | 헬스     |  1140000 |        0 | 2021-12    |           14 |          0 |          0 |      0 |  0.840659 |
+----+----------------+---------+----------+----------+----------+------------+--------------+------------+------------+--------+-----------+

하위 5개 행
+------+----------------+---------+----------+----------+----------+------------+--------------+------------+------------+--------+----------+
|      |   회원카드번호 | 연월    | 등록명   |   매출액 |   미수액 | 종료시점   |   잔여개월수 |   결제시점 |   이탈여부 |   광고 |   추세값 |
|------+----------------+---------+----------+----------+----------+------------+--------------+------------+------------+--------+----------|
| 6495 |       23120076 | 2023-12 | 헬스     |   990000 |        0 | 2024-10    |           10 |          0 |          2 |      0 |        0 |
| 6496 |       23120077 | 2023-12 | 헬스     |   990000 |        0 | 2024-10    |           10 |          0 |          2 |      0 |        0 |
| 6497 |       24010001 | 2023-12 | 헬스     |   990000 |        0 | 2024-10    |           10 |          0 |          2 |      0 |        0 |
| 6498 |       24010003 | 2022-01 | 헬스     |  1035000 |        0 | 2022-11    |           10 |          0 |          1 |      1 |        0 |
| 6499 |       88017624 | 2023-02 | 골프     |        0 |        0 | 2023-05    |            3 |          0 |          1 |      1 |        0 |
+------+----------------+---------+----------+----------+----------+------------+--------------+------------+------------+--------+----------+

기술통계
+--------------+---------+-------------+-------------+-------------+-----------+-------------+-----------+-------------+-------+
|              |   count |        mean |         std |         min |       25% |         50% |       75% |         max |   nan |
|--------------+---------+-------------+-------------+-------------+-----------+-------------+-----------+-------------+-------|
| 회원카드번호 |    6500 | 1.95045e+07 | 3.00822e+06 | 1.21313e+07 | 1.803e+07 | 2.00701e+07 | 2.202e+07 | 8.80176e+07 |     0 |
| 매출액       |    6500 | 1.04789e+06 | 1.45681e+06 |   -4.62e+06 |    656000 |     1.1e+06 | 1.488e+06 |   4.512e+07 |     0 |
| 미수액       |    6500 |     50396.2 |      437033 |    -3.3e+06 |         0 |           0 |         0 |    2.96e+07 |     0 |
| 잔여개월수   |    6440 |     10.1641 |      9.0514 |         -43 |         6 |          12 |        14 |          69 |    60 |
| 결제시점     |    6372 |   0.0510044 |     5.11786 |         -45 |         0 |           0 |         0 |          46 |   128 |
| 이탈여부     |    6500 |    0.780308 |    0.757613 |           0 |         0 |           1 |         1 |           2 |     0 |
| 광고         |    6500 |    0.379231 |    0.485233 |           0 |         0 |           0 |         1 |           1 |     0 |
| 추세값       |    6500 |   0.0320372 |     1.38316 |         -16 |         0 |           0 |         0 |          23 |     0 |
+--------------+---------+-------------+-------------+-------------+-----------+-------------+-----------+-------------+-------+

        회원카드번호         연월  광고       추세값
0     12131325 2020-09-01   0 -0.131868
1     13110008 2021-05-01   0 -0.263736
2     13110008 2022-06-01   1 -0.285714
3     13110008 2023-11-01   0  3.500000
4     13110009 2020-10-01   0  0.840659
...        ...        ...  ..       ...
6495  23120076 2023-12-01   0  0.000000
6496  23120077 2023-12-01   0  0.000000
6497  24010001 2023-12-01   0  0.000000
6498  24010003 2022-01-01   1  0.000000
6499  88017624 2023-02-01   1  0.000000

[6500 rows x 4 columns]

In [59]:
merged_df = merge(df7, df9, on=['회원카드번호','연월'], how="left")
merged_df.to_excel('통합6-1.xlsx', index=False)