# KMeans 모듈화

## #01. 준비작업

### [1] 패키지 가져오기

In [1]:
# 연결된 모듈이 업데이트 되면 즉시 자동 로드함
%load_ext autoreload
%autoreload 2

from hossam.util import *
from hossam.plot import *
from hossam.analysis import *
from hossam.cluster import *

### [2] 데이터 가져오기 + 스케일링

In [2]:
origin: DataFrame = my_read_excel(path="https://data.hossam.kr/mldata/iris.xlsx", categories=['Species'], info=False)

df = origin.drop(labels='Species', axis=1)
df = my_minmax_scaler(data=df)
df

상위 5개 행
+----+----------------+---------------+----------------+---------------+-----------+
|    |   Sepal.Length |   Sepal.Width |   Petal.Length |   Petal.Width | Species   |
|----+----------------+---------------+----------------+---------------+-----------|
|  0 |            5.1 |           3.5 |            1.4 |           0.2 | setosa    |
|  1 |            4.9 |             3 |            1.4 |           0.2 | setosa    |
|  2 |            4.7 |           3.2 |            1.3 |           0.2 | setosa    |
|  3 |            4.6 |           3.1 |            1.5 |           0.2 | setosa    |
|  4 |              5 |           3.6 |            1.4 |           0.2 | setosa    |
+----+----------------+---------------+----------------+---------------+-----------+

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
0        0.222222     0.625000      0.067797     0.041667
1        0.166667     0.416667      0.067797     0.041667
2        0.111111     0.500000      0.050847     0.041667
3        0.083333     0.458333      0.084746     0.041667
4        0.194444     0.666667      0.067797     0.041667
..            ...          ...           ...          ...
145      0.666667     0.416667      0.711864     0.916667
146      0.555556     0.208333      0.677966     0.750000
147      0.611111     0.416667      0.711864     0.791667
148      0.527778     0.583333      0.745763     0.916667
149      0.444444     0.416667      0.694915     0.708333

[150 rows x 4 columns]

## #02. 모듈화 기능 확인 - 단일 군집

### [1] 단순 군집화

In [ ]:
kmeans = my_single_kmeans(data=df, n_clusters=3)
kmeans.silhouette

### [2] 군집 결과 시각화

In [ ]:
my_cluster_plot(kmeans, df)

## #03. 최적 군집 찾기

### [1] 엘보우 포인트 기준

In [ ]:
my_kmeans(data=df, scoring='e')

### [2] 실루엣 계수 기준

In [ ]:
my_kmeans(data=df, scoring='s')